.text {
  color: #d0d0d0;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 2.2rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: effectmain 3000ms;
}
.wrapper a {
  display: block;
  width: 17.9rem;
  height: 4.2rem;
  border-radius: 0.8rem;
  background: #229884;
  padding: 10px 7px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  margin: 3.7rem 0;
}
.wrapper a:hover {
  box-shadow: 0 0 1rem 0 #30bba4;
}
