#my-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  color: #d0d0d0;
  font-size: 2rem;
  font-weight: 500;
}
#my-form p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3.6rem;
  cursor: pointer;
}
.input-wrapper label {
  display: block;
  margin-bottom: 1rem;
}
input:hover {
  box-shadow: 0 0 1rem 0 #30bba4;
}
.no-background:hover {
  box-shadow: 0 0 1rem 0 #30bba4;
}
.input-wrapper .no-background {
  color: #fff;
  display: block;
  width: 29.5rem;
  height: 4.2rem;
  border-radius: 8px;
  border: 2px solid #30bba4;
  background: none;
  margin-bottom: 2.8rem;
  padding: 0 0 0 5px;
  cursor: pointer;
}
.input-wrapper input {
  display: block;
  width: 29.5rem;
  height: 4.2rem;
  border-radius: 8px;
  border: 2px solid #d0d0d0;
  margin-bottom: 1.2rem;
  padding: 0 0 0 5px;
  cursor: pointer;
}
